/* The following code is for each atom used on the bioSite. */

/*
* Section: typography
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
  line-height: 1.5em;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Sans-serif;
  line-height: 1em;
}

h6 {
  font-size: 0.889em;
}

h5 {
  font-size: 1em;
}

h4 {
  font-size: 1.125em;
}

h3 {
  font-size: 1.266em;
}

h2 {
  font-size: 1.424em;
}

h1 {
  font-size: 1.602em;
}

/*
* Section: buttons
*/

.button-link {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1.125em;
  width: 7;
}

.button-link:hover {
  position: relative;
  bottom: 3px;
}

/*
* Section: links
*/

a:link {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

a:hover {
  color: rgb(0, 0, 0);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.atom-link--white {
  color: rgb(255, 255, 255);
}

.atom-link--white:hover {
  color: rgb(255, 255, 255);
}

.atom-link--white:visited {
  color: rgb(255, 255, 255);
}

/*
* Section: text and background colors
*/

.atom-text-color--gray {
  color: rgb(99, 99, 99);
}

.atom-text-color--red {
  color: rgb(213, 21, 46);
}

.atom-text-color--blue {
  color: rgb(48, 76, 178);
}

.atom-text-color--yellow {
  color: rgb(255, 191, 39);
}

.atom-text-color--white {
  color: rgb(255, 255, 255);
}

.atom-text-color--black {
  color: rgb(0, 0, 0);
}

.atom-background-color--red {
  background-color: rgb(213, 21, 46);
}

.atom-background-color--blue {
  background-color: rgb(48, 76, 178);
}

.atom-background-color--yellow {
  background-color: rgb(255, 191, 39);
}

.atom-background-color--black {
  background-color: rgb(0, 0, 0);
}

.atom-background-color--gray {
  background-color: rgb(128, 128, 128);
}

.atom-background-color--lightgray {
  background-color: rgb(165, 165, 165);
}

.atom-background-color--lightergray {
  background-color: rgb(217, 217, 217);
}

.atom-background-color--white {
  background-color: rgb(255, 255, 255);
}
