/*
* molecules: section, title and content
*/

.molecule-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.molecule-section--no-separation {
  padding-top: 0;
  padding-bottom: 0;
}

.molecule-section__title {
  display: flex;
  align-self: center;
  max-width: 1160px;
  width: 100%;
}

.molecule-section__title--center {
  display: flex;
  justify-content: center;
}

.molecule-section__content {
  display: flex;
  align-self: center;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 1080px;
  width: 100%;
}

.molecule-section__content--opacity {
  opacity: 0.9;
}

.molecule-section__content--column {
  flex-direction: column;
}

.molecule-section__content--breakout {
  max-width: none;
}

.molecule-section__content--center {
  justify-content: center;
  align-content: center;
}

/*
* Section: cards
*/

.molecule-card {
  display: flex;
  flex-direction: column;
  width: 21.875em;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1em;
  height: 100%;
}

.molecule-card__text--center {
  text-align: center;
}

.molecule-card--padding-bottom {
  padding-bottom: 3em;
}

.molecule-card--small {
  width: 33.1%;
}

.molecule-card--medium {
  width: 50%;
}

.molecule-card--full {
  width: 69.3%;
}

.molecule-card__text {
  padding-left: 1em;
}

.molecule-card__title {
  padding: 0 1.1em;
}

.molecule-card__media {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: contain;
}

/*
* Section: navigation
*/

.molecule-navigation {
  display: flex;
  width: 100%;
}

.molecule-navigation--center {
  display: flex;
  justify-content: center;
}

.molecule-navigation__list {
  list-style: none;
}

.molecule-navigation__list--nopadding {
  padding: 0;
}

.molecule-navigation__item {
  display: inline;
  color: rgb(255, 255, 255);
}

.molecule-navigation__item::after {
  content: " | ";
}

.molecule-navigation__item:last-child::after {
  content: none;
}
