/*
*  The following code is for each molecule used on the bioSite.
*  Each class is following BEM Methodology: block, element, modifier
*  molecule-section, molecule-card, and molecule-navigation are the blocks
*  anything after the label __ is an element
*  anything after the label -- is an modifier
*/

/*
* the molecule section is used to create reuseable sections for the bioSite.
*/

/* section block */
.molecule-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* modifiers for the section block */
.molecule-section--no-separation {
  padding-top: 0;
  padding-bottom: 0;
}

.molecule-section--no-display {
  visibility: hidden;
}

/* section title */
.molecule-section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 1160px;
  width: 100%;
}

/* modifier for the section title */
.molecule-section__title--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* section content */
.molecule-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1080px;
  width: 100%;
}

/*
* modifiers for the section content
*/
.molecule-section__content--opacity {
  opacity: 0.9;
}

.molecule-section__content--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.molecule-section__content--breakout {
  max-width: none;
}

.molecule-section__content--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/*
* Section: cards
*/

/*
* the molecule card class is used to create cards that contain pictures with text and titles.
*/

/* card block */
.molecule-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 21.875em;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em;
}

/* modifier for the card block */
.molecule-card--padding-bottom {
  padding-bottom: 3em;
}

.molecule-card--effects:hover {
  transition: 0.2s;
  background-color: rgb(213, 21, 46);
  opacity: 0.9;
  position: relative;
  bottom: 7px;
}

.molecule-card--border-white {
  border: 2px solid white;
}

.molecule-card--border-black {
  border: 2px solid black;
}

/* card title */
.molecule-card__title {
  padding: 0 1.1em;
}

/* card text */
.molecule-card__text {
  padding-left: 1em;
  padding-right: 1em;
}

/* card text item */
.molecule-card__text__item {
  width: 168px;
}

/*
* modifiers for the card text
*/
.molecule-card__text--center {
  text-align: center;
}

.molecule-card__text--padding-bottom {
  padding-bottom: 1em;
}

/* card media holder */
.molecule-card__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -o-object-fit: contain;
  object-fit: contain;
}

/* creating different and reuseable sizes for the cards */
.molecule-card--small {
  width: 33.1%;
}

.molecule-card--medium {
  width: 50%;
}

.molecule-card--full {
  width: 69.3%;
}

.molecule-card--small--break {
  padding-bottom: 1em;
}

/*
* Section: navigation
*/

/*
* the molecule navigation class is used to create a reuseable navigation for the bioSite.
*/

/* navigation block */
.molecule-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* modifier for the navigation block */
.molecule-navigation--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* navigation item */
.molecule-navigation__item {
  display: inline;
  color: rgb(255, 255, 255);
}

/* navigation list */
.molecule-navigation__list {
  list-style: none;
}

/* modifier for the navigation list */
.molecule-navigation__list--nopadding {
  padding: 0;
}

/* Pseudo-elements for the navigation item */
.molecule-navigation__item::after {
  content: " | ";
}

.molecule-navigation__item:last-child::after {
  content: none;
}

/* Media breaks for the about section */

@media (max-width: 1429px) {
  .molecule-section__content--text-size {
    padding: 0 2.7em;
  }

  .molecule-section__content--heading-size {
    text-align: center;
    line-height: 1.5em;
  }
}

@media (max-width: 1038px) {
  .molecule-card--small--break {
    padding-bottom: 1em;
  }

  .molecule-card__media > .molecule-card__media--no-img {
    display: none;
  }
}

@media (max-width: 794px) {
  .molecule-card--small {
    padding-bottom: 2em;
  }

  .molecule-card__media > .molecule-card__media--no-img {
    display: none;
  }

  .molecule-card__title--heading {
    text-align: center;
    line-height: 1.1em;
  }
}

@media (max-width: 728px) {
  .molecule-card--small {
    padding-bottom: 5em;
  }

  .molecule-card__media > .molecule-card__media--no-img {
    display: none;
  }

  .molecule-card__title--heading {
    text-align: center;
    line-height: 1.1em;
  }
}

@media (max-width: 691px) {
  .molecule-section__content--media-center-top-cards {
    position: relative;
    top: 9em;
  }

  .molecule-card--small {
    height: 12em;
    width: 12em;
  }

  .molecule-card--full {
    height: 3em;
  }

  .molecule-card__media > .molecule-card__media--no-img {
    display: none;
  }

  .molecule-card__text--no-text > p {
    visibility: hidden;
  }

  .molecule-card--no-card {
    visibility: hidden;
  }

  .button-link {
    font-size: 13px;
  }

  .molecule-card__title--heading {
    text-align: center;
    line-height: 1.1em;
  }
}

@media (max-width: 690px) {
  .molecule-section__content--media-center-bottom-cards {
    position: relative;
    top: 9em;
  }

  .molecule-section--no-display {
    visibility: visible !important;
  }

  .molecule-card__text--display {
    visibility: visible !important;
  }

  .molecule-card--full {
    height: 17.5em;
  }
}

@media (max-width: 610px) {
  .molecule-navigation--header-border {
    border: none;
  }

  .molecule-navigation__item::after {
    content: none;
  }

  .molecule-navigation__list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .molecule-section__content--heading-size {
    text-align: center;
    line-height: 1.5em;
  }
}
