/*
* The following are specific classes used only for demonstration atoms, molecules, and organisms and will not be used in final implementation
*/

/*
* swatch is being used temporally for the atoms brand and neutral colors
*/
.demo-swatch {
  border-radius: 4px;
  width: 1em;
  height: 1em;
  border: 4px solid transparent;
}

/*
* demo-header--color is being used to give a
* background color to the atom and molecule sections
*/
.demo-header--color {
  background-color: rgb(165, 165, 165);
  padding: 15px;
}
